/* line 4, /Users/adiacovo/Desktop/FoodBlog/CurtissEFrankDiningHallFoodBlog/app/assets/stylesheets/blog_posts.scss */
body {
  display: block;
  background-image: linear-gradient(rgba(255, 255, 255, 0.527), rgba(255, 255, 255, 0.5)), url(/assets/background.png);
  background-size: 100%;
}

/* line 14, /Users/adiacovo/Desktop/FoodBlog/CurtissEFrankDiningHallFoodBlog/app/assets/stylesheets/blog_posts.scss */
div.linkbox {
  display: block;
  height: 50px;
  border-radius: 20px;
  background-color: grey;
}

/* line 23, /Users/adiacovo/Desktop/FoodBlog/CurtissEFrankDiningHallFoodBlog/app/assets/stylesheets/blog_posts.scss */
.moodle {
  display: inline-block;
  text-align: center;
  font-size: 20px;
  margin-right: 20%;
  font-family: 'Open Sans', sans-serif;
  font-weight: 800;
  text-shadow: #EDEDED 1px 1px 10px;
}

/* line 33, /Users/adiacovo/Desktop/FoodBlog/CurtissEFrankDiningHallFoodBlog/app/assets/stylesheets/blog_posts.scss */
.portal {
  display: inline-block;
  text-align: center;
  font-size: 20px;
  margin-right: 20%;
  font-family: 'Open Sans', sans-serif;
  font-weight: 800;
  text-shadow: #EDEDED 1px 1px 10px;
}

/* line 43, /Users/adiacovo/Desktop/FoodBlog/CurtissEFrankDiningHallFoodBlog/app/assets/stylesheets/blog_posts.scss */
.library {
  display: inline-block;
  text-align: center;
  font-size: 20px;
  margin-right: 20%;
  font-family: 'Open Sans', sans-serif;
  font-weight: 800;
  text-shadow: #EDEDED 1px 1px 10px;
}

/* line 53, /Users/adiacovo/Desktop/FoodBlog/CurtissEFrankDiningHallFoodBlog/app/assets/stylesheets/blog_posts.scss */
.news {
  display: inline-block;
  text-align: center;
  font-size: 20px;
  font-family: 'Open Sans', sans-serif;
  font-weight: 800;
  text-shadow: #EDEDED 1px 1px 10px;
}

/* line 63, /Users/adiacovo/Desktop/FoodBlog/CurtissEFrankDiningHallFoodBlog/app/assets/stylesheets/blog_posts.scss */
h1.header {
  display: inline-block;
  text-align: center;
  font-family: 'Open Sans', sans-serif;
  color: #555;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 150px;
  font-weight: 800;
  letter-spacing: -3px;
  line-height: 1;
  text-shadow: #EDEDED 3px 2px 0;
  position: relative;
  z-index: 0;
}

/* line 79, /Users/adiacovo/Desktop/FoodBlog/CurtissEFrankDiningHallFoodBlog/app/assets/stylesheets/blog_posts.scss */
h1.header:hover {
  cursor: pointer;
}

/* line 83, /Users/adiacovo/Desktop/FoodBlog/CurtissEFrankDiningHallFoodBlog/app/assets/stylesheets/blog_posts.scss */
.navbar-link_up {
  position: absolute;
  top: 70px;
  right: 15px;
  width: 100px;
  text-align: right;
  position: fixed !important;
  z-index: 1000 !important;
}

/* line 87, /Users/adiacovo/Desktop/FoodBlog/CurtissEFrankDiningHallFoodBlog/app/assets/stylesheets/blog_posts.scss */
.navbar-link_in {
  position: absolute;
  top: 90px;
  right: 15px;
  width: 100px;
  text-align: right;
  position: fixed !important;
  z-index: 1000 !important;
}

/* line 92, /Users/adiacovo/Desktop/FoodBlog/CurtissEFrankDiningHallFoodBlog/app/assets/stylesheets/blog_posts.scss */
p.identity {
  position: absolute;
  top: 50px;
  right: 15px;
  width: 500px;
  text-align: right;
  position: fixed !important;
  z-index: 1000 !important;
}

/* line 101, /Users/adiacovo/Desktop/FoodBlog/CurtissEFrankDiningHallFoodBlog/app/assets/stylesheets/blog_posts.scss */
t9 body {
  width: 150px;
  border: 1px solid #000000;
  text-align: center;
  padding: 30px;
  border-radius: 20px;
  background-color: #72e644;
  box-shadow: 0px 0px 50px black;
  position: fixed;
}

/* line 129, /Users/adiacovo/Desktop/FoodBlog/CurtissEFrankDiningHallFoodBlog/app/assets/stylesheets/blog_posts.scss */
.loc {
  position: relative;
  text-align: center;
  color: #555;
  text-shadow: #EDEDED 3px 2px 0;
  font-weight: bolder;
  font-family: 'Open Sans', sans-serif;
  font-size: 50px;
}

/* line 138, /Users/adiacovo/Desktop/FoodBlog/CurtissEFrankDiningHallFoodBlog/app/assets/stylesheets/blog_posts.scss */
.cat {
  position: relative;
  text-align: center;
  margin-left: 16%;
  color: #555;
  text-shadow: #EDEDED 3px 2px 0;
  font-weight: bolder;
  font-family: 'Open Sans', sans-serif;
  font-size: 50px;
}

/* line 146, /Users/adiacovo/Desktop/FoodBlog/CurtissEFrankDiningHallFoodBlog/app/assets/stylesheets/blog_posts.scss */
.submit_filter {
  position: relative;
  text-align: center;
  margin-left: 20%;
}

/* line 150, /Users/adiacovo/Desktop/FoodBlog/CurtissEFrankDiningHallFoodBlog/app/assets/stylesheets/blog_posts.scss */
.clear_filter {
  position: relative;
  text-align: center;
  display: block;
  color: #af0a0a;
  font-size: 25px;
}

/* line 158, /Users/adiacovo/Desktop/FoodBlog/CurtissEFrankDiningHallFoodBlog/app/assets/stylesheets/blog_posts.scss */
div.filterout {
  margin-top: 10%;
  height: 100px;
  border-radius: 20px;
  background-color: #999;
  box-shadow: 0px 10px black;
}

/* line 166, /Users/adiacovo/Desktop/FoodBlog/CurtissEFrankDiningHallFoodBlog/app/assets/stylesheets/blog_posts.scss */
.notice {
  position: relative;
  top: 0;
  right: 0;
  text-align: center;
}

/* line 170, /Users/adiacovo/Desktop/FoodBlog/CurtissEFrankDiningHallFoodBlog/app/assets/stylesheets/blog_posts.scss */
.create_head {
  text-align: center;
  font-family: 'Open Sans', sans-serif;
  color: #555;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 50px;
  font-weight: 600;
  letter-spacing: -3px;
  line-height: 1;
  text-shadow: #EDEDED 3px 2px 0;
  position: relative;
}

/* line 183, /Users/adiacovo/Desktop/FoodBlog/CurtissEFrankDiningHallFoodBlog/app/assets/stylesheets/blog_posts.scss */
t2.body {
  font-family: 'Open Sans', sans-serif;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 20px;
  font-weight: 600;
  letter-spacing: 3px;
  line-height: 1;
  text-shadow: #EDEDED 3px 2px 0;
  position: relative;
  display: block;
}
/* line 195, /Users/adiacovo/Desktop/FoodBlog/CurtissEFrankDiningHallFoodBlog/app/assets/stylesheets/blog_posts.scss */
t2.body .title1 {
  display: inline-block;
  margin-top: 2%;
}
/* line 199, /Users/adiacovo/Desktop/FoodBlog/CurtissEFrankDiningHallFoodBlog/app/assets/stylesheets/blog_posts.scss */
t2.body .title2 {
  display: inline-block;
  position: relative;
  text-align: center;
  width: 50%;
  margin-bottom: 50px;
  height: 25px;
  margin-top: 5px;
}
/* line 209, /Users/adiacovo/Desktop/FoodBlog/CurtissEFrankDiningHallFoodBlog/app/assets/stylesheets/blog_posts.scss */
t2.body .cat1 {
  display: inline-block;
}
/* line 213, /Users/adiacovo/Desktop/FoodBlog/CurtissEFrankDiningHallFoodBlog/app/assets/stylesheets/blog_posts.scss */
t2.body .cat2 {
  display: inline-block;
  margin-bottom: 50px;
}
/* line 218, /Users/adiacovo/Desktop/FoodBlog/CurtissEFrankDiningHallFoodBlog/app/assets/stylesheets/blog_posts.scss */
t2.body .loc1 {
  display: inline-block;
  margin-top: 50px;
}
/* line 222, /Users/adiacovo/Desktop/FoodBlog/CurtissEFrankDiningHallFoodBlog/app/assets/stylesheets/blog_posts.scss */
t2.body .loc2 {
  display: inline-block;
}
/* line 226, /Users/adiacovo/Desktop/FoodBlog/CurtissEFrankDiningHallFoodBlog/app/assets/stylesheets/blog_posts.scss */
t2.body .desc1 {
  display: inline-block;
  margin-top: 50px;
}
/* line 230, /Users/adiacovo/Desktop/FoodBlog/CurtissEFrankDiningHallFoodBlog/app/assets/stylesheets/blog_posts.scss */
t2.body .desc2 {
  display: inline-block;
  text-align: center;
  width: 80%;
  height: 50px;
  margin-top: 5px;
}
/* line 238, /Users/adiacovo/Desktop/FoodBlog/CurtissEFrankDiningHallFoodBlog/app/assets/stylesheets/blog_posts.scss */
t2.body .rate1 {
  display: inline-block;
  margin-top: 50px;
}
/* line 242, /Users/adiacovo/Desktop/FoodBlog/CurtissEFrankDiningHallFoodBlog/app/assets/stylesheets/blog_posts.scss */
t2.body .rate2 {
  display: inline-block;
  width: 20px;
  height: 20px;
  margin-top: 5px;
}
/* line 249, /Users/adiacovo/Desktop/FoodBlog/CurtissEFrankDiningHallFoodBlog/app/assets/stylesheets/blog_posts.scss */
t2.body .img1 {
  display: inline-block;
  margin-top: 50px;
}
/* line 254, /Users/adiacovo/Desktop/FoodBlog/CurtissEFrankDiningHallFoodBlog/app/assets/stylesheets/blog_posts.scss */
t2.body .img2 {
  display: inline-block;
}
/* line 258, /Users/adiacovo/Desktop/FoodBlog/CurtissEFrankDiningHallFoodBlog/app/assets/stylesheets/blog_posts.scss */
t2.body .submit {
  display: inline-block;
  margin-top: 50px;
  width: 300px;
}
/* line 264, /Users/adiacovo/Desktop/FoodBlog/CurtissEFrankDiningHallFoodBlog/app/assets/stylesheets/blog_posts.scss */
t2.body .back {
  display: inline-block;
  margin-top: 50px;
}

/* line 271, /Users/adiacovo/Desktop/FoodBlog/CurtissEFrankDiningHallFoodBlog/app/assets/stylesheets/blog_posts.scss */
.scrollToTop {
  margin: 0;
  position: fixed;
  bottom: 8.5%;
  right: 0;
  z-index: 100;
  text-decoration: none;
  color: #ffffff;
  background-color: rgba(100, 193, 151, 0.7);
  padding: 10px 20px 10px 10px;
  font-size: 20px;
}

/* line 284, /Users/adiacovo/Desktop/FoodBlog/CurtissEFrankDiningHallFoodBlog/app/assets/stylesheets/blog_posts.scss */
.scrollToTop:hover {
  background-color: #64c197;
  color: #ffffff;
  text-decoration: none;
}

/* line 290, /Users/adiacovo/Desktop/FoodBlog/CurtissEFrankDiningHallFoodBlog/app/assets/stylesheets/blog_posts.scss */
.message {
  display: inline-block;
  padding: 20px;
  background-size: 50%;
  color: white;
  text-align: center;
  display: none;
  margin-bottom: 30px;
  font-size: 25px;
  position: fixed;
  z-index: 1000 !important;
}

/* line 302, /Users/adiacovo/Desktop/FoodBlog/CurtissEFrankDiningHallFoodBlog/app/assets/stylesheets/blog_posts.scss */
.message span {
  display: inline-block;
  text-align: center;
  padding: 30px;
  border-radius: 20px;
  background-color: #72e644;
  box-shadow: 0px 0px 50px black;
  position: fixed;
  margin-left: 38%;
  z-index: 1000 !important;
}

/* line 314, /Users/adiacovo/Desktop/FoodBlog/CurtissEFrankDiningHallFoodBlog/app/assets/stylesheets/blog_posts.scss */
.message_warning {
  padding: 20px;
  background-size: 50%;
  color: white;
  text-align: center;
  display: none;
  margin-bottom: 30px;
  font-size: 25px;
}

/* line 323, /Users/adiacovo/Desktop/FoodBlog/CurtissEFrankDiningHallFoodBlog/app/assets/stylesheets/blog_posts.scss */
.message_warning span {
  text-align: center;
  padding: 30px;
  border-radius: 20px;
  background-color: #f71a1a;
  box-shadow: 0px 0px 50px black;
}

/* line 331, /Users/adiacovo/Desktop/FoodBlog/CurtissEFrankDiningHallFoodBlog/app/assets/stylesheets/blog_posts.scss */
a:hover, a:visited, a:link, a:active {
  text-decoration: none !important;
  color: black;
}

/* line 336, /Users/adiacovo/Desktop/FoodBlog/CurtissEFrankDiningHallFoodBlog/app/assets/stylesheets/blog_posts.scss */
button.new {
  padding: 15px 25px;
  font-size: 30px;
  font-style: italic;
  font-weight: bolder;
  text-align: center;
  outline: none !important;
  cursor: pointer;
  outline: none;
  color: #555;
  font-family: 'Open Sans', sans-serif;
  text-shadow: #EDEDED 1px 2px 0;
  background-color: #4CAF50;
  border: none;
  border-radius: 15px;
  box-shadow: 0 9px #999;
  display: block;
  margin: auto;
  margin-bottom: 40px;
}

/* line 363, /Users/adiacovo/Desktop/FoodBlog/CurtissEFrankDiningHallFoodBlog/app/assets/stylesheets/blog_posts.scss */
button.new:hover {
  background-color: #3e8e41;
}

/* line 367, /Users/adiacovo/Desktop/FoodBlog/CurtissEFrankDiningHallFoodBlog/app/assets/stylesheets/blog_posts.scss */
button.new:active {
  background-color: #3e8e41;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}

/* line 373, /Users/adiacovo/Desktop/FoodBlog/CurtissEFrankDiningHallFoodBlog/app/assets/stylesheets/blog_posts.scss */
t2.body {
  display: block;
  border-radius: 20px;
  max-width: 500px;
  margin: auto;
  padding: 20px;
  background-color: #a7a1a1f3;
  height: 100%;
  box-shadow: 0px 0px 50px black;
}

/* line 384, /Users/adiacovo/Desktop/FoodBlog/CurtissEFrankDiningHallFoodBlog/app/assets/stylesheets/blog_posts.scss */
.rating {
  display: none;
}

/* line 387, /Users/adiacovo/Desktop/FoodBlog/CurtissEFrankDiningHallFoodBlog/app/assets/stylesheets/blog_posts.scss */
.description {
  display: none;
}

/* line 390, /Users/adiacovo/Desktop/FoodBlog/CurtissEFrankDiningHallFoodBlog/app/assets/stylesheets/blog_posts.scss */
.location {
  display: none;
}

/* line 393, /Users/adiacovo/Desktop/FoodBlog/CurtissEFrankDiningHallFoodBlog/app/assets/stylesheets/blog_posts.scss */
.category {
  display: none;
}

/* line 396, /Users/adiacovo/Desktop/FoodBlog/CurtissEFrankDiningHallFoodBlog/app/assets/stylesheets/blog_posts.scss */
.title {
  display: none;
}

/* line 400, /Users/adiacovo/Desktop/FoodBlog/CurtissEFrankDiningHallFoodBlog/app/assets/stylesheets/blog_posts.scss */
.cat_loc {
  display: none;
}

/* line 403, /Users/adiacovo/Desktop/FoodBlog/CurtissEFrankDiningHallFoodBlog/app/assets/stylesheets/blog_posts.scss */
div {
  display: block;
  text-align: center;
}

/* line 409, /Users/adiacovo/Desktop/FoodBlog/CurtissEFrankDiningHallFoodBlog/app/assets/stylesheets/blog_posts.scss */
p.image {
  display: block;
  margin-top: 10%;
}

/* line 416, /Users/adiacovo/Desktop/FoodBlog/CurtissEFrankDiningHallFoodBlog/app/assets/stylesheets/blog_posts.scss */
p.image:hover ~ .rating {
  position: relative;
  display: block;
  font-family: 'Open Sans', sans-serif;
  color: #555;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 50px;
  font-weight: 600;
  letter-spacing: -3px;
  line-height: 1;
  text-shadow: #EDEDED 3px 2px 0;
  margin-bottom: 20px;
}

/* line 432, /Users/adiacovo/Desktop/FoodBlog/CurtissEFrankDiningHallFoodBlog/app/assets/stylesheets/blog_posts.scss */
p.image:hover ~ .cat_loc {
  display: block;
  position: relative;
  font-family: 'Open Sans', sans-serif;
  color: #555;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 50px;
  font-weight: 600;
  letter-spacing: -3px;
  line-height: 1;
  text-shadow: #EDEDED 3px 2px 0;
}

/* line 474, /Users/adiacovo/Desktop/FoodBlog/CurtissEFrankDiningHallFoodBlog/app/assets/stylesheets/blog_posts.scss */
p.image:hover ~ .title {
  position: relative;
  display: block;
  font-family: 'Open Sans', sans-serif;
  color: #555;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 50px;
  font-weight: 600;
  letter-spacing: -3px;
  line-height: 1;
  text-shadow: #EDEDED 3px 2px 0;
}

/* line 490, /Users/adiacovo/Desktop/FoodBlog/CurtissEFrankDiningHallFoodBlog/app/assets/stylesheets/blog_posts.scss */
h2.login_header {
  text-align: center;
}

/* line 493, /Users/adiacovo/Desktop/FoodBlog/CurtissEFrankDiningHallFoodBlog/app/assets/stylesheets/blog_posts.scss */
h2.editpage_title {
  font-family: 'Open Sans', sans-serif;
  color: #555;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 100px;
  font-weight: 800;
  letter-spacing: -3px;
  line-height: 1;
  text-shadow: #EDEDED 3px 2px 0;
  position: relative;
  z-index: 0;
}

/* line 508, /Users/adiacovo/Desktop/FoodBlog/CurtissEFrankDiningHallFoodBlog/app/assets/stylesheets/blog_posts.scss */
div.edit_text {
  margin-top: 50px;
  font-family: 'Open Sans', sans-serif;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 20px;
  font-weight: 600;
  letter-spacing: 3px;
  line-height: 1;
  text-shadow: #EDEDED 3px 2px 0;
  margin: auto;
  position: relative;
  display: block;
  padding: 50px;
  height: 100%;
  width: 40%;
  border-radius: 20px;
  background-color: rgba(158, 157, 157, 0.938);
  box-shadow: 0px 0px 15px black;
}
/* line 530, /Users/adiacovo/Desktop/FoodBlog/CurtissEFrankDiningHallFoodBlog/app/assets/stylesheets/blog_posts.scss */
div.edit_text .edit_title {
  display: inline-block;
}
/* line 534, /Users/adiacovo/Desktop/FoodBlog/CurtissEFrankDiningHallFoodBlog/app/assets/stylesheets/blog_posts.scss */
div.edit_text .edit_title2 {
  margin-top: 5px;
  display: inline-block;
  text-align: center;
  width: 50%;
  margin-bottom: 50px;
  height: 25px;
}
/* line 543, /Users/adiacovo/Desktop/FoodBlog/CurtissEFrankDiningHallFoodBlog/app/assets/stylesheets/blog_posts.scss */
div.edit_text .edit_cat {
  display: inline-block;
}
/* line 548, /Users/adiacovo/Desktop/FoodBlog/CurtissEFrankDiningHallFoodBlog/app/assets/stylesheets/blog_posts.scss */
div.edit_text .edit_cat2 {
  margin-bottom: 50px;
  display: inline-block;
}
/* line 553, /Users/adiacovo/Desktop/FoodBlog/CurtissEFrankDiningHallFoodBlog/app/assets/stylesheets/blog_posts.scss */
div.edit_text .edit_loc {
  margin-top: 50px;
  display: inline-block;
}
/* line 558, /Users/adiacovo/Desktop/FoodBlog/CurtissEFrankDiningHallFoodBlog/app/assets/stylesheets/blog_posts.scss */
div.edit_text .edit_loc2 {
  margin-bottom: 50px;
  display: inline-block;
}
/* line 562, /Users/adiacovo/Desktop/FoodBlog/CurtissEFrankDiningHallFoodBlog/app/assets/stylesheets/blog_posts.scss */
div.edit_text .edit_desc {
  margin-top: 50px;
  display: inline-block;
}
/* line 567, /Users/adiacovo/Desktop/FoodBlog/CurtissEFrankDiningHallFoodBlog/app/assets/stylesheets/blog_posts.scss */
div.edit_text .edit_desc2 {
  margin-top: 5px;
  margin-bottom: 50px;
  display: inline-block;
  width: 80%;
  height: 50px;
  text-align: center;
}
/* line 575, /Users/adiacovo/Desktop/FoodBlog/CurtissEFrankDiningHallFoodBlog/app/assets/stylesheets/blog_posts.scss */
div.edit_text .edit_rate {
  margin-bottom: 5px;
  display: inline-block;
}
/* line 579, /Users/adiacovo/Desktop/FoodBlog/CurtissEFrankDiningHallFoodBlog/app/assets/stylesheets/blog_posts.scss */
div.edit_text .edit_rate2 {
  margin-bottom: 50px;
  display: inline-block;
  width: 20px;
  height: 20px;
  text-align: center;
}
/* line 586, /Users/adiacovo/Desktop/FoodBlog/CurtissEFrankDiningHallFoodBlog/app/assets/stylesheets/blog_posts.scss */
div.edit_text .edit_img {
  display: inline-block;
}
/* line 590, /Users/adiacovo/Desktop/FoodBlog/CurtissEFrankDiningHallFoodBlog/app/assets/stylesheets/blog_posts.scss */
div.edit_text .edit_img2 {
  margin-bottom: 50px;
  display: inline-block;
}
/* line 594, /Users/adiacovo/Desktop/FoodBlog/CurtissEFrankDiningHallFoodBlog/app/assets/stylesheets/blog_posts.scss */
div.edit_text .edit_submit {
  margin-bottom: 50px;
  display: inline-block;
}
/* line 598, /Users/adiacovo/Desktop/FoodBlog/CurtissEFrankDiningHallFoodBlog/app/assets/stylesheets/blog_posts.scss */
div.edit_text .edit_back {
  margin-bottom: 50px;
  display: inline-block;
}

/* line 604, /Users/adiacovo/Desktop/FoodBlog/CurtissEFrankDiningHallFoodBlog/app/assets/stylesheets/blog_posts.scss */
#comments.row {
  background-color: rgba(201, 192, 192, 0.932);
  color: black;
  width: 50%;
  margin: auto;
  padding: 100px;
  text-align: center;
  box-shadow: 0px 0px 50px black;
  margin-bottom: 20px;
  border-radius: 20px;
}

/* line 617, /Users/adiacovo/Desktop/FoodBlog/CurtissEFrankDiningHallFoodBlog/app/assets/stylesheets/blog_posts.scss */
div.commentstext {
  font-size: 20px;
}

/* line 621, /Users/adiacovo/Desktop/FoodBlog/CurtissEFrankDiningHallFoodBlog/app/assets/stylesheets/blog_posts.scss */
div.show_imgandtext {
  background-color: grey;
  margin: auto;
  padding: 10px;
  width: 60%;
  border: 10px solid rgba(119, 214, 252, 0.911);
  border-bottom: 45px solid rgba(119, 214, 252, 0.911);
  -webkit-box-shadow: 3px 3px 3px #777;
  -moz-box-shadow: 3px 3px 3px #777;
  box-shadow: 3px 3px 3px #777;
}

/* line 632, /Users/adiacovo/Desktop/FoodBlog/CurtissEFrankDiningHallFoodBlog/app/assets/stylesheets/blog_posts.scss */
div.show_detailtext {
  font: 400 18px/1 'Kaushan Script', cursive;
  color: white;
}

/* line 637, /Users/adiacovo/Desktop/FoodBlog/CurtissEFrankDiningHallFoodBlog/app/assets/stylesheets/blog_posts.scss */
div.crudlinks {
  margin-bottom: 20px;
}

/* line 641, /Users/adiacovo/Desktop/FoodBlog/CurtissEFrankDiningHallFoodBlog/app/assets/stylesheets/blog_posts.scss */
.editlink {
  margin-bottom: 20px;
  background-color: rgba(201, 192, 192, 0.932);
  width: 10%;
  display: inline-block;
  text-align: center;
  font-family: 'Open Sans', sans-serif;
  color: #555;
  font-size: 20px;
  text-transform: uppercase;
  text-shadow: #EDEDED 1px 1px 0;
  box-shadow: 0px 0px 10px black;
  border-radius: 20px;
  margin-right: 20px;
}

/* line 656, /Users/adiacovo/Desktop/FoodBlog/CurtissEFrankDiningHallFoodBlog/app/assets/stylesheets/blog_posts.scss */
.deletelink {
  margin-bottom: 20px;
  background-color: rgba(201, 192, 192, 0.932);
  display: inline-block;
  width: 10%;
  font-family: 'Open Sans', sans-serif;
  color: #555;
  font-size: 20px;
  text-transform: uppercase;
  text-shadow: #EDEDED 1px 1px 0;
  box-shadow: 0px 0px 10px black;
  border-radius: 20px;
}

/* line 670, /Users/adiacovo/Desktop/FoodBlog/CurtissEFrankDiningHallFoodBlog/app/assets/stylesheets/blog_posts.scss */
.backlink {
  margin-bottom: 20px;
  background-color: rgba(201, 192, 192, 0.932);
  display: inline-block;
  width: 10%;
  font-family: 'Open Sans', sans-serif;
  color: #555;
  font-size: 20px;
  text-transform: uppercase;
  text-shadow: #EDEDED 1px 1px 0;
  box-shadow: 0px 0px 10px black;
  margin-left: 20px;
  border-radius: 20px;
}

/* line 689, /Users/adiacovo/Desktop/FoodBlog/CurtissEFrankDiningHallFoodBlog/app/assets/stylesheets/blog_posts.scss */
p.devise_links {
  text-align: center;
  text-shadow: none;
  letter-spacing: -1px;
  margin: auto;
  width: 25%;
  border: 3px solid black;
  padding: 10px;
}

/* line 699, /Users/adiacovo/Desktop/FoodBlog/CurtissEFrankDiningHallFoodBlog/app/assets/stylesheets/blog_posts.scss */
h2.center {
  text-align: center;
}

/* line 703, /Users/adiacovo/Desktop/FoodBlog/CurtissEFrankDiningHallFoodBlog/app/assets/stylesheets/blog_posts.scss */
h3 {
  display: inline-block;
  top: -20px;
  font-size: 30px;
}

/* line 712, /Users/adiacovo/Desktop/FoodBlog/CurtissEFrankDiningHallFoodBlog/app/assets/stylesheets/blog_posts.scss */
p.center {
  text-align: center;
}

/* line 716, /Users/adiacovo/Desktop/FoodBlog/CurtissEFrankDiningHallFoodBlog/app/assets/stylesheets/blog_posts.scss */
.h5 {
  position: fixed;
  top: 0;
  z-index: 1;
  width: 100%;
  background-color: #f1f1f1;
}

/* The progress container (grey background) */
/* line 725, /Users/adiacovo/Desktop/FoodBlog/CurtissEFrankDiningHallFoodBlog/app/assets/stylesheets/blog_posts.scss */
.progress-container {
  width: 100%;
  height: 8px;
  background: #ccc;
}

/* The progress bar (scroll indicator) */
/* line 732, /Users/adiacovo/Desktop/FoodBlog/CurtissEFrankDiningHallFoodBlog/app/assets/stylesheets/blog_posts.scss */
.progress-bar {
  height: 8px;
  background: #4caf50;
  width: 0%;
}
/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *


 */

