// Place all the styles related to the BlogPosts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
body { 
    display: block;
    background-image: 
        linear-gradient(
            rgba(255, 255, 255, 0.527),
            rgba(255, 255, 255, 0.5)
        ),
        url('/assets/background.png'); 
    background-size: cover;
  }


h1.header {
    display: inline-block;
    text-align: center;
    font-family: 'Open Sans', sans-serif;
    color: #555;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 150px;
    font-weight: 800;
    letter-spacing: -3px;
    line-height: 1;
    text-shadow: #EDEDED 3px 2px 0;
    position: relative;
}

.navbar-link_up {
    position: absolute; top: 25px; right: 15px; width: 100px; text-align: right
}
.navbar-link_in {
    position: absolute; top: 50px; right: 15px; width: 100px; text-align: right
}
p.identity {
    position: absolute; top: 0; right: 15px; width: 500px; text-align: right
}

.loc {
    position: relative; text-align: center;
}

.cat {
    position: relative; text-align: center;
}
.submit_filter {
    position: relative; text-align: center;
}

.clear_filter {
    position: relative; text-align: center;
}

.notice {
    position: relative; top: 0; right: 0; text-align: center;
}

.create_head{
    text-align: center;
    font-family: 'Open Sans', sans-serif;
    color: #555;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 50px;
    font-weight: 600;
    letter-spacing: -3px;
    line-height: 1;
    text-shadow: #EDEDED 3px 2px 0;
    position: relative;
}
t2.body {
    font-family: 'Open Sans', sans-serif;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 20px;
    font-weight: 600;
    letter-spacing: 3px;
    line-height: 1;
    text-shadow: #EDEDED 3px 2px 0;
    position: relative;
    // display: block;
    .title1 {
        display: inline-block;
        margin-top: 2%;
    }
    .title2 {
        display: inline-block;
        position: relative;
        text-align: center;
        width: 50%;
        margin-bottom: 50px;
        height: 25px;
        margin-top: 5px;
        // box-shadow: 0 0 20px rgb(0, 0, 0);
    }
    .cat1 {
        display: inline-block;
        // margin-bottom: 50px;
    }
    .cat2 {
        display: inline-block;
        // position: relative;
        margin-bottom: 50px;
    }
    .loc1 {
        display: inline-block;
        margin-top: 50px;
    }
    .loc2 {
        display: inline-block;

    }
    .desc1 {
        display: inline-block;
        margin-top: 50px;
    }
    .desc2 {
        display: inline-block;
        text-align: center;
        width: 80%;
        height: 50px;
        margin-top: 5px;
        // box-shadow: 0 0 20px rgb(0, 0, 0);
    }
    .rate1 {
        display: inline-block;
        margin-top: 50px;
    }
    .rate2 {
        display: inline-block;
        width: 20px;
        height: 20px;
        margin-top: 5px;
        // box-shadow: 0 0 50px rgb(0, 0, 0);
    }
    .img1{
        display: inline-block;
        margin-top: 50px;
        
    }
    .img2 {
        display: inline-block;
        
    }
    .submit {
        display: inline-block;
        margin-top: 50px;
        box-shadow: 0 0 20px rgba(100, 247, 132, 0.788);
        width: 300px;
    }
    .back {
        display: inline-block;
        margin-top: 50px;
    }

}

.scrollToTop {
    margin: 0;
    position: fixed;
    bottom: 8.5%;
    right: 0;
    z-index: 100;
    // display: none;
    text-decoration: none;
    color: #ffffff;
    background-color: rgba(100, 193, 151, .7);
    padding: 10px 20px 10px 10px;
    font-size: 20px;
}
.scrollToTop:hover {
    background-color: rgba(100, 193, 151, 1);
    color: #ffffff;
    text-decoration: none;
}

.message {
    display: inline-block;
    padding: 20px;
    background-size: 50%;
    color: white;
    text-align: center;
    display: none;
    margin-bottom: 30px;
    font-size: 25px;
}
.message span {
    display: inline-block;
    text-align: center;
    padding: 30px;
    border-radius: 20px;
    background-color: #72e644;
    box-shadow: 0px 0px 50px black;
}

.message_warning {
    padding: 20px;
    background-size: 50%;
    color: white;
    text-align: center;
    display: none;
    margin-bottom: 30px;
    font-size: 25px;
}
.message_warning span {
    text-align: center;
    padding: 30px;
    border-radius: 20px;
    background-color: #f71a1a;
    box-shadow: 0px 0px 50px black;
}
// button.new {
//     display: block;
//     border-radius: 20px;
//     max-width: 300px;
//     margin: auto;
//     padding: 20px;
//     background-color: #000000;


// }
// button.new div {
//     position: relative;
//     display: inline-block;
//     text-align: center;
//     font-size: 50px;
   
// }

button.new {
    padding: 15px 25px;
    font-size: 30px;
    font-style: italic;
    font-weight: bolder;
    text-align: center;

    cursor: pointer;

    outline: none;
    color: #555;
    font-family: 'Open Sans', sans-serif;
    text-shadow: #EDEDED 1px 2px 0;


    background-color: #4CAF50;
    border: none;
    border-radius: 15px;
    box-shadow: 0 9px #999;

    display: block;
    margin: auto;
    margin-bottom: 40px;
}

button.new:hover {
    background-color: #3e8e41
}

button.new:active {
    background-color: #3e8e41;
    box-shadow: 0 5px #666;
    transform: translateY(4px);
}

t2.body {
    display: block;
    border-radius: 20px;
    max-width: 500px;
    margin: auto;
    padding: 20px;
    background-color: #a7a1a1f3;
    height: 100%;
    box-shadow: 0px 0px 50px black;
}

// .title {
//     position: absolute; top: 50; left: 50

// }